<footer>
  <small>
    Made by me, myself and <a href="https://github.com/11ty/eleventy"> @11ty </a>
  </small>
  <div class='social'>
    <a href="https://www.twitter.com/beznet" target="_blank" class="fab fa-twitter"></a>
    <a href="https://github.com/Beznet" target="_blank"class="fab fa-github"></a>
    <a href="https://www.instagram.com/beznet" target="_blank" class="fab fa-instagram"></a>
    <a href="mailto:bennettdungan@gmailcom" target="_top" class="fas fa-envelope"></a>
    <a href="https://www.linkedin.com/in/bennett-dungan/" target="_blank" class="fab fa-linkedin-in"></a>
  </div>
</footer>
