<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
<script src="https://kit.fontawesome.com/d388d51ead.js"></script>

	{% include "components/head.njk" %}

	<body>

		<header>
		<div class='social'>
			<a href="https://www.twitter.com/beznet" target="_blank" class="fab fa-twitter"></a>
			<a href="https://github.com/Beznet" target="_blank"class="fab fa-github"></a>
			<a href="https://www.instagram.com/beznet" target="_blank" class="fab fa-instagram"></a>
			<a href="mailto:bennettdungan@gmailcom" target="_top" class="fas fa-envelope"></a>
			<a href="https://www.linkedin.com/in/bennett-dungan/" target="_blank" class="fab fa-linkedin-in"></a>
		</div>
			<em>
				<a id="siteTitle" href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>
		<br>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
